nav ul li{
    display: inline;
    padding: 80px;
}
nav ul li a{
    color:aqua;
    text-decoration:none;
}
h1{
    text-align: center;
    color:aliceblue;
    padding:15px;
}
header{
    background-color:rgb(255, 80, 188);
}
body{
    background-color:rgb(205, 243, 255);
}
#Home{
    text-align: center;

}
img{

    border-radius:80px;
}
#Bio{
    text-size-adjust: 12px;
    text-align: center;
}
#portfolio{
    text-align: center;
    padding: 15px;
    background-color:rgb(128, 240, 188);
    border-radius: 80px;
}
#Skills{
    
    text-align: center;
    display: inline;
    padding: 50px;

}
#Contact{
    text-align: center;
}
footer{
    text-align: center;
    color:thistle;
    background-color:black;
    padding: 250px;
    padding: 20px;
}